<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>

  <targets>
    <target name="console" xsi:type="Console">
      <layout xsi:type="JsonLayout" includeAllProperties="true">
        <attribute name="format" layout="2" />
        <attribute name="service" layout="CustomerManagement-Service" />
        <attribute name="timestamp" layout="${ticks}" />
        <attribute name="timestampISO" layout="${longdate}" />
        <attribute name="logger" layout="${logger}" />
        <attribute name="threadid" layout="${threadid}" />
        <attribute name="levelTag" layout="${level:upperCase=true}" />
        <attribute name="message" layout="${message}" />
        <attribute name="exceptionType" layout="${exception:format=Type}" />
        <attribute name="exceptionMessage" layout="${exception:format=Message}" />
        <attribute name="exceptionStackTrace" layout="${exception:format=StackTrace}" />
        <attribute name="environment" layout="${environment:ASPNETCORE_ENVIRONMENT}" />
      </layout>
    </target>
    <target name="file" xsi:type="File"
            layout="${longdate}:${logger}:${threadid}:${level:uppercase=true}:${message}"
            fileName="${basedir}/logs/nlog-${shortdate}.log"
            maxArchiveFiles="5"
            archiveAboveSize="10240" />
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="console" />
    <logger name="*" minlevel="Trace" writeTo="file" />
  </rules>
</nlog>