<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>

  <targets>
    <target name="console" xsi:type="Console"
            layout="${longdate}:${logger}:${threadid}:${level:uppercase=true}:${message}${newline}${exception:format=tostring}">
    </target>
    <target name="debugger" xsi:type="Debugger"
            layout="${longdate}:${logger}:${threadid}:${level:uppercase=true}:${message}${newline}${exception:format=tostring}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="debugger" />
    <logger name="*" minlevel="Debug" writeTo="console" />
  </rules>
</nlog>